practice/lecture-06/Lecture06/src/covid/covid.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="CovidServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/mariami_chakhvadze_war_exploded/covid?xsd=1"/>
</xsd:schema>
</types>
<message name="getStatistic">
<part name="parameters" element="tns:getStatistic"/>
</message>
<message name="getStatisticResponse">
<part name="parameters" element="tns:getStatisticResponse"/>
</message>
<message name="getCountryStatistic">
<part name="parameters" element="tns:getCountryStatistic"/>
</message>
<message name="getCountryStatisticResponse">
<part name="parameters" element="tns:getCountryStatisticResponse"/>
</message>
<message name="getTotalConfirmed">
<part name="parameters" element="tns:getTotalConfirmed"/>
</message>
<message name="getTotalConfirmedResponse">
<part name="parameters" element="tns:getTotalConfirmedResponse"/>
</message>
<message name="getTotalDeath">
<part name="parameters" element="tns:getTotalDeath"/>
</message>
<message name="getTotalDeathResponse">
<part name="parameters" element="tns:getTotalDeathResponse"/>
</message>
<message name="getTotalRecovery">
<part name="parameters" element="tns:getTotalRecovery"/>
</message>
<message name="getTotalRecoveryResponse">
<part name="parameters" element="tns:getTotalRecoveryResponse"/>
</message>
<portType name="CovidService">
<operation name="getStatistic">
<input wsam:Action="http://service/CovidService/getStatisticRequest" message="tns:getStatistic"/>
<output wsam:Action="http://service/CovidService/getStatisticResponse" message="tns:getStatisticResponse"/>
</operation>
<operation name="getCountryStatistic">
<input wsam:Action="http://service/CovidService/getCountryStatisticRequest" message="tns:getCountryStatistic"/>
<output wsam:Action="http://service/CovidService/getCountryStatisticResponse" message="tns:getCountryStatisticResponse"/>
</operation>
<operation name="getTotalConfirmed">
<input wsam:Action="http://service/CovidService/getTotalConfirmedRequest" message="tns:getTotalConfirmed"/>
<output wsam:Action="http://service/CovidService/getTotalConfirmedResponse" message="tns:getTotalConfirmedResponse"/>
</operation>
<operation name="getTotalDeath">
<input wsam:Action="http://service/CovidService/getTotalDeathRequest" message="tns:getTotalDeath"/>
<output wsam:Action="http://service/CovidService/getTotalDeathResponse" message="tns:getTotalDeathResponse"/>
</operation>
<operation name="getTotalRecovery">
<input wsam:Action="http://service/CovidService/getTotalRecoveryRequest" message="tns:getTotalRecovery"/>
<output wsam:Action="http://service/CovidService/getTotalRecoveryResponse" message="tns:getTotalRecoveryResponse"/>
</operation>
</portType>
<binding name="CovidServicePortBinding" type="tns:CovidService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStatistic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountryStatistic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalConfirmed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalDeath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalRecovery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CovidServiceService">
<port name="CovidServicePort" binding="tns:CovidServicePortBinding">
<soap:address location="http://localhost:8080/mariami_chakhvadze_war_exploded/covid"/>
</port>
</service>
</definitions>